root = "."
tmp_dir = "build/tmp"

[build]
cmd = "go build -o ./build/bin/server ./cmd/server"
bin = "./build/bin/server"
include_ext = ["go", "templ", "css", "js", "html"]
exclude_dir = ["build", "tmp", "vendor"]
include_dir = ["cmd", "internal", "web"]
follow_symlink = true
delay = 1000

[log]
time = true

[color]
main = "magenta"
watcher = "cyan"
build = "yellow"
runner = "green"

[misc]
clean_on_exit = true

[screen]
clear_on_rebuild = true
